.form {
    display: flex;
    border-top: 2px solid #d3d3d3;
    padding-top: 10px;
}
div.input-text-box {
    flex: 80%;
    max-width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}
.input {
    border: solid 1px silver;
    border-radius: 30px;
    width: 70%;
    padding: 10px 20px;
    transition: ease 0.5s;
}
.input:focus {
    width: 99%;
}
div.btn-send {
    flex: 20%;
    max-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979ff;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 80%;
    box-shadow: 5px 10px 5px silver;
    border-radius: 20px;
    outline: none;
}
.sendButton:active {
    transform: translateY(3px);
    outline: none;
}
