div.room-box {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: solid 1px silver;
    padding: 0px 5px 20px 20px;
}
div.room-image {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    flex: 50%;
    max-width: 50%;
}
div.userName {
    display: flex;
    align-items: center;
}
div.function-room {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    flex: 50%;
    max-width: 50%;
}
div.function-room div.icon {
    flex: 10%;
    max-width: 10%;
    color: blue;
    font-size: 24px;
    cursor: pointer;
}
